<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="js/analogclock.js" type="text/javascript"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/analogclock.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="content">
            <div class="home"></div>
            <div class="container">
                <div class="github">
                <a href="http://github.com/mlp5ab/siteaday" data-title="View on GitHub"><img src="img/icon-github.png" alt="GitHub"></a>
                </div>
                <ul id="clock">
                    <li id="sec"></li>
                    <li id="hour"></li>
                    <li id="min"></li>
                </ul>
                <div id="time"></div>
            </div>
        </div>
    </body>
</html>