<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="js/dragndrop.js" type="text/javascript"></script>
        <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="css/dragndrop.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="content">
            <div class="home"></div>
            <div class="container">
                <div class="github">
                <a href="http://github.com/mlp5ab/siteaday" data-title="View on GitHub"><img src="img/icon-github.png" alt="GitHub"></a>
                </div>
            </div>
            <div id="dropbox"><div id="droplabel">Drop an image!</div></div>
        </div>
    </body>
</html>


<!--<img alt="[ preview will display here ]" id="preview"/>-->