<!DOCTYPE html>
<html lang="en">
  <head>
    <title>A Site a Day</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/siteaday.css" rel="stylesheet" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <!-- BEGIN PAGE -->
    <div class="page" ng-app='ASiteADay' ng-controller='MainController'>
      
      <!-- HEADER BEGIN -->
      <header>
        <div class="header-primary">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="col-lg-10 col-8 text-white">A site a day</h1>  
                <div class="col-lg-2 col-4 pull-right">
                  <a href="http://github.com/mlp5ab/siteaday" data-title="View on GitHub" class="github pull-right"><img src="img/icon-github.png" alt="GitHub"></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <h3 class="text-white">I've decided to become a better web developer. This is how I'm doing it.</h3>  
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- HEADER END -->

      <!-- CONTENT BEGIN -->
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <blockquote class="text-center">
              <p class="lead">We are what we repeatedly do. Excellence, therefore, is not an act but a habit.</p>
              <p class="lead">-Aristotle</p>
            </blockquote>
          </div>
        </div>

        <div class="row">
          
          <div class="col-lg-2">
            <div>
              <ol class="nav nav-pills nav-stacked nav-side">
                <li class="active"><a href="#">Day 1: A Site a Day</a></li>
                <li><a href="/clock">Day 2: Color Clock</a></li>
                <li><a href="/analog">Day 3: Analog Clock</a></li>
              </ol>
            </div>
          </div>

          <div class="col-lg-10">
            <div class="post">
              <h3 class="title"><span>Color Clock</span></h3>
              <div class="content">
                <p>
                  For day two...
                </p>
              </div>
            </div>

            <div class="post">
              <h3 class="title"><span>A Site a Day</span></h3>
              <div class="content">
                <p>
                  It is time. It is time that I stop having a "good enough" relationship with html, css, and javascript and start becoming a designer for the web. Why? I have spent the last 3 months working on backend solutions for a company that specializes in creating mobile applications. As a result, I have become increasingly proficient with backend technologies but rarely get to touch the front end code because that is handled, naturally, by the native client teams. My vision for this project and the ones which follow is to improve my skill in web design, as well as to document my journey along the way. I have 28 days before school starts back up, and 28 websites to create before then. Let's get started.  
                </p>
              </div>
            </div>
          </div>  

          

          
        </div>
      </div>
    </div>
    <!-- END PAGE -->



    <!-- JavaScript plugins (requires jQuery) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>