html, body {
    background: -webkit-gradient(linear, 0 100%, 0 0, from(black), color-stop(0.25, #333), color-stop(0.5, #444), color-stop(0.75, #555), to(#002851));
    background: -webkit-linear-gradient(black, #333, #444, #555, #002851);
    background: -moz-linear-gradient(black, #333, #444, #555, #002851);
    background: -o-linear-gradient(black, #333, #444, #555, #002851);
    background: linear-gradient(black, #333, #444, #555, #002851);
    /*background-color: #000;*/
    height: 100%;
    width: 100%;
}
#clock {
    position: relative;
    width: 600px;
    height: 600px;
    margin: 20px auto 0 auto;
    background: url('/img/clockface.png');
    list-style: none;
    border-radius: 300px;
    box-shadow: 0 0 25px #000;
}

#sec, #min, #hour {
    position: absolute;
    width: 30px;
    height: 600px;
    top: 0px;
    left: 285px;
}

#sec {
    background: url('/img/sechand.png');
    z-index: 3;
}

#min {
    background: url('/img/minhand.png');
    z-index: 2;
}

#hour {
    background: url('/img/hourhand.png');
    z-index: 1;
}

#time {
    text-align: center;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 3em;
    text-shadow: 2px 2px 5px #000;
}

.github {
    margin-top: 30px;
}