/** {
    border: 1px dotted #000;
}*/
html, body {
    background-color: #fff;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.date {
    margin-right: 10px;
}

.name {
    font-size: 4.5em;
    font-weight: bold;
    text-align: center;
    /*text-shadow: 1px 1px 4px #000;*/
}

.text-white {
    color: #fff;
}

.sidebar {
    position: fixed;
    height: 100%;
    color: #F65555;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*box-shadow: 1px 1px 5px #555 !important;*/
    background: url('../img/paris_lg.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.name {
    font-family: 'Mouse Memoirs', sans-serif;
}

.sidebar-content {
    /*background-color: rgba(52,152, 219, .7); */
    background-color: rgba(255, 255, 255, .7); 
    border-radius: 10px;
    text-align: center;
}

.page {
    height: 100%;
}


#rightpanel {
    height: 100%;
    padding: 0;
    margin: 0;
}

.projects-header {
    font-size: 2.2em;
}

.project {
    font-size: 1.7em;
    /*font-weight: bold;*/
}

.project > a {
    color: #F65555;
}

ul {
    list-style: none;
    padding-left: 0;
}

.quote {

}

.quote > p {
    color: #000;
    /*font-weight: bold;*/
}

@media(max-width: 768px) {
    .name {
        font-size: 4em;
    }
    .sidebar {
    background-image: url('../img/paris_sm.png');
    height: 700px;
    position: static;
    }
}

