.colorclock {
    height: 100%;
    margin:0;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#clock, #time_title, #color_title, #color {
    margin: 0 auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5em;
    color: #FFF;
    text-shadow: 2px 2px 5px #000;
}

#time_title {
    margin-top: 125px;
    font-family: sans-serif ;
}

#color_title {
    margin-top: 30px;
}

.github {
    margin: 10px 15px;
}

