.dragndrop {
    background-color: #EC7569;
    height: 100%;
}

#dropbox {
    background-color: #EC7569;
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
}

#droplabel {
    color: #fff;
}

.github {
    margin: 10px 15px;
}
