/** {
	border: 1px dotted #000;
}*/
.music {
	/*height: 100%;*/
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url('../img/grey_wash_wall.png'); 
}

.songs {
	padding: 1px;
}

.song {
	margin: 3% 5%;
	padding-top: 5px;
	background-color: #fefefe;
	border-radius: 10px;
	box-shadow: 1px 1px 7px #555;
}

.song-wrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.song-wrapper iframe,
.song-wrapper object,
.song-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*.song-wrapper {
	max-width: 90%;
	height: auto;
	position: relative;
	display: block;
	margin: 0 auto;
}*/

/*.song-wrapper iframe {
	width: 100%;
	height: 100%;
	/*height: auto;
	display: block;
}*/

.song-title, .song-content {
	text-align: center;
}

@media(max-width: 750px) {
	.song-title {
		font-size: 1.5em;
	}
	.music-footer {
		font-size: .9em;
	}	
}
