body {
    background-image: url('../img/white_wall_hash.png');
}

/* Override base .btn styles */
/* Apply text and background changes to three key states: default, gover, and active */
.btn-ttc,
.btn-ttc:hover,
.btn-ttc:active {
    color:white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #007da7;
}

/* Apply the custom-colored gradients */
/* Note: you'll need to include all the appropriate gradients for various browsers. */
.btn-ttc {
    background-repeat: repeat-x;
    background-image: linear-gradient(top, #009ED2 0%, #007DA7 100%);
}

/* Set the hover state */
.btn-ttc:hover {
    background-position: 0 -15px;
}

.centering {
    float:none;
    margin: 0 auto;
}

.header-primary {
    background-color: #5188CC;
}

.header-primary * {
    font-family: 'Source Sans Pro', sans-serif;
}

.header-primary  h1 {
    padding: 0;
}

.github img{
    margin-top: 20px;
}

.nav-side {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin-bottom: 5px;
    background-color: #fff;
}

.nav-side li a{
    border-bottom: 1px solid #bdbdbd;
}

.nav-side li:first-child a{
    border-radius: 4px 0 0 0;
}

.nav-side li:last-child a {
    border-bottom: none;
    border-radius: 0 0 0 4px;
}

.nav-side li.active a, .nav-side li.active a:hover {
    background-color: transparent;
    color: #555;
    border-left: 2px solid #E88C39;
}

.post{
    box-shadow: 0 0 .5em #555555;
}

.post *{
    font-family: 'Source Sans Pro', sans-serif;
}

.post .content {
    background-color: #fff;
}

.post > .content > p {
    font-size: 20px;
}

.title {
    background-color: #EC7569;
    margin: 0;
}

.title > span, .content > p{
    margin-left: 10px;
}

.post .title {
    line-height: 200%;
    border-left: 5px solid #E74C3C;
}

.content {
    padding: 5px;
    
}

.text-white {
  color: #ffffff;
}