<link rel="stylesheet" href="../css/music.css">
<div class="music" data-ng-controller="MusicController">
  <form data-ng-submit="create()">
      <div class="container">
        <div class="col-lg-1 col-sm-1"></div>
        <div class="input-group col-lg-10 col-sm-10 form-article">
          <input class="form-control" type="text" data-ng-model="title" id="title" placeholder="Title">
          <input class="form-control" type="text" data-ng-model="url" id="url" placeholder="Embed Url">
          <textarea class="form-control" data-ng-model="description" id="description" cols="30" rows="10" placeholder="Description (optional)"></textarea>
          <input type="submit" class="submit-song btn btn-primary btn-large col-lg-12 col-sm-12">
        </div>
        <div class="col-lg-1 col-sm-1"></div>
      </div>
  </form>
  <div class="songs">
    <div class="song">
      <h2 class="song-title">{{ title }}</h2>
      <div class="song-content">
        <iframe width="854" height="510" src="{{ url }}" frameborder="0" allowfullscreen></iframe>
        <p class="lead">{{ description }}</p>
      </div>
    </div>
  </div>
</div>
