<link rel="stylesheet" href="../css/music.css">
<div class="music" data-ng-controller="MusicController" data-ng-init="findOne()">
  <form data-ng-submit="update()">
      <div class="container">
        <div class="col-lg-1 col-sm-1"></div>
        <div class="input-group col-lg-10 col-sm-10 form-song">
          <input class="form-control" type="text" data-ng-model="song.title" id="title" placeholder="Title"></input>
          <input class="form-control" type="text" data-ng-model="song.url" id="url" placeholder="Embed Url">
          <textarea class="form-control" data-ng-model="song.description" id="description" cols="30" rows="10" placeholder="Description (optional)"></textarea>
          <button class="btn-submit-song btn btn-primary btn-large col-lg-12 col-sm-12">Submit</button>
          <a ng-click="remove(song)" class="btn-delete-song btn btn-danger btn-large col-lg-12 col-sm-12">Delete</a>
        </div>
        <div class="col-lg-1 col-sm-1"></div>
      </div>
  </form>
  <div class="songs">
    <div class="song">
      <h2 class="song-title">{{ song.title }}</h2>
      <div class="song-content">
        <iframe width="854" height="510" src="{{ song.url }}&origin=http://michaelparis.us" frameborder="0" allowfullscreen></iframe>
        <p class="lead">{{ song.description }}</p>
      </div>
    </div>
  </div>
</div>
