<link rel="stylesheet" href="../css/music.css">
<div class="music" data-ng-controller="MusicController" data-ng-init="find()">
  <!-- Music List -->
  <div class="songs">
    <div data-ng-repeat="song in songs" class="song">
      <h2 class="song-title">{{ song.title }}</h2>
      <div class="song-content">
        <!-- <iframe width="854" height="510" src="{{ song.url }}" frameborder="0" allowfullscreen></iframe> -->
        <iframe width="940" height="561" src="{{ song.url }}" frameborder="0" allowfullscreen></iframe>
        <p class="lead">{{ song.description }}</p>
        <span class="date">{{ song.created | date:mediumDate }}</span>
        <a href="#/music/{{ song._id }}/edit" ng-show="isAuthenticated">Edit</a>
      </div>
      <br />
    </div>
  </div>

</div>