<link rel="stylesheet" href="../css/color_clock.css">
<script src="../js/color_clock.js"></script>
<!-- <ng-include src="sidebar.html"></ng-include> -->

<div class="colorclock">
    <a href="http://github.com/mlp5ab/siteaday" data-title="View on GitHub"><img src="img/icon-github.png" alt="GitHub" class="github"></a>
    <div class="row">
        <div class="col-lg-12">
            <h1 id="time_title">The current time is</h1>
            <div id="clock" ></div>
            <h2 id="color_title">The color of now is</h2>
            <div id="color"></div>
        </div>
    </div>
</div>
