<!-- Side Bar -->
<div class="col-lg-4 col-sm-4 sidebar">
  <div class="sidebar-content">
    <div><h1 class="name">Michael Paris</h1></div>
    <div class="quote">
      <blockquote>
        <p class="lead">"We are what we repeatedly do. Excellence, therefore, is not an act but a habit."</p>
        <p class="lead">Aristotle</p>
      </blockquote>
    </div>
    <div class="projects-header"><h2>Habits</h2></div>
    <ul>
      <li class="project"><a href="">This</a></li>
      <li class="project"><a href="/clock">Color Clock</a></li>
      <li class="project"><a href="/analog">Analog Clock</a></li>
      <li class="project"><a href="dragndrop">Drag n' Drop</a></li>
    </ul>
  </div>
</div>
<!-- Div block to make room for the fixed block above -->
<div class="col-lg-4 col-sm-4"></div>
<script src='../js/controllers/sidebar.js'></script>
