<link rel="stylesheet" href="../css/blog.css">
<div class="blog" data-ng-controller="BlogController">
  <form data-ng-submit="create()">
      <div class="container">
        <div class="col-lg-1 col-sm-1"></div>
        <div class="input-group col-lg-10 col-sm-10 form-article">
          <input class="form-control" type="text" data-ng-model="title" id="title" placeholder="Title">
          <textarea class="form-control" data-ng-model="content" id="content" cols="30" rows="10" placeholder="Content"></textarea>
          <input type="submit" class="submit-article btn btn-primary btn-large col-lg-12 col-sm-12">
        </div>
        <div class="col-lg-1 col-sm-1"></div>
      </div>
  </form>
  <div class="articles">
    <div class="article">
      <h2 class="article-title">{{ title }}</h2>
      <div class="article-content">{{ content }}</div>
    </div>
  </div>
</div>
