<link rel="stylesheet" href="../css/blog.css">
<div class="blog" data-ng-controller="BlogController" data-ng-init="findOne()">

  <!-- One article -->
  <div class="articles">
    <div class="article">
      <h2 class="article-title" ng-bind-html="article.title"></h2>
      <div class="article-content" ng-bind-html="article.content"></div>
      <br />
      <div class="article-footer">
        <span class="date">{{ article.created | date:'mediumDate'}}</span>  
        <a href="#/articles/{{ article._id }}/edit" ng-show="isAuthenticated">Edit</a>
      </div>
    </div>
  </div>

</div>
